registry=https://artifactory.fr.eu.airbus.corp/artifactory/api/npm/R-2K77_devops-public_npm_V/
//artifactory.fr.eu.airbus.corp/artifactory/api/npm/R-2K77_devops-public_npm_V/:_authToken=${AIRBUS_NPM_VIRTUAL_TOKEN}
strict-ssl=false
always-auth=true
email=olivier.chaumont@airbus.com
save-exact=true
noproxy[]=artifactory.fr.eu.airbus.corp