registry=artifactory.fr.eu.airbus.corp/artifactory/api/npm/r-npm-virtual/
always-auth=true
//artifactory.fr.eu.airbus.corp/artifactory/api/npm/r-npm-virtual/:_authToken=${AIRBUS_NPM_VIRTUAL_TOKEN}
//artifactory.fr.eu.airbus.corp/artifactory/npm-remote-cache/:_authToken=${AIRBUS_NPM_VIRTUAL_TOKEN}
strict-ssl=false
